x64/
/
hooks/
NewAGLWidget.sdf
NewAGLWidget.sln
NewAGLWidget.v12.suo
NewAGLWidget.VC.db
.vs/
NewAGLWidget.VC.VC.opendb
info/
HEAD
description
config
NewAGLWidget/NewAGLWidget.vcxproj
NewAGLWidget/NewAGLWidget.vcxproj.filters
NewAGLWidget/NewAGLWidget.vcxproj.user
NewAGLWidget/GeneratedFiles/Debug/moc_NewAGLWidget.cpp
NewAGLWidget/GeneratedFiles/qrc_NewAGLWidget.cpp
NewAGLWidget/GeneratedFiles/ui_NewAGLWidget.h
